


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Book Recommendation System</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about_us">About Us</a>
            <a href="/view_books">View Books</a>

            <a href="/recommendations">Recommendations</a>
            {% if session['loggedin'] %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Book Recommendation System</p>
        <p>Follow us on social media: Facebook, Twitter, Instagram</p>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS (optional) -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
